[user]
	name = AlfonzM
	email = m.alfonz@gmail.com
[core]
	editor = nvim
	excludesfile = /Users/alfonzm/.gitignore_global
  pager = delta
[push]
	default = matching
[commit]
	template = /Users/alfonzm/.stCommitMsg
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

; https://github.com/dandavison/delta
[include]
  path = ~/Downloads/themes.gitconfig
[init]
	defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[delta]
  syntax-theme = gruvbox-dark
  navigate = true # use n and N to move between diff sections
  light = false
  ; side-by-side = true
  line-numbers = true
  features = line-numbers decorations
  plus-style = syntax "#12261E"
  minus-style = syntax "#301A1F"
  plus-emph-style = syntax "#1D572D"
  minus-emph-pstyle = syntax "#542426"
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
  line-numbers-minus-style = auto "#542426"
  line-numbers-plus-style = auto "#1C4428"

  ; line-numbers-zero-style = 239
  ; line-numbers-minus-style = 239
  ; line-numbers-plus-style = 239

  line-numbers-right-format = "{np:^4}"
  line-numbers-left-format = "{nm:^4}"
