[user]
	name = AlfonzM
	email = m.alfonz@gmail.com
[core]
	editor = vim
	excludesfile = /Users/alfonzm/.gitignore_global
[push]
	default = matching
[commit]
	template = /Users/alfonzm/.stCommitMsg
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
