[user]
	name = Alfonz Montelibano
	email = m.alfonz@gmail.com
[core]
	editor = vim
	excludesfile = /Users/alfonzm/.gitignore_global
[push]
	default = matching
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/alfonzm/.stCommitMsg
[pull]
	rebase = false
