<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>00C94754-B49B-46F9-BF5A-878005EE8481</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CE0630C-BA29-4C21-9980-7E0E20E88016</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>271F13A6-3A3F-4D4D-B588-34284086F3A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D042E7C-2727-41F4-B02C-30B6F5AA0DDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31B8078A-76A2-4B20-B0B7-F0D1DB5D6BF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE2F1DF2-B71D-4546-9CD9-95D184D35C84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34F1C706-8281-4143-B767-DEAE2209833D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2DEC1B7-4496-4CB1-9788-3C1632156225</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3548A7EC-C107-43A0-B843-334842F8C999</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7862D0FD-773E-49C5-ADE2-0C0A959DE031</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A398A4D-2FF3-4937-AEAA-8AD4EDDF2A60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63AB2DC3-D931-47B4-BB8E-0C2C682B5E1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B1EEFAD-0DC8-47E4-B8B1-17C07A679166</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2459574-818F-47E7-9803-96E43E5DA0F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>605CE10D-F7F4-4E3D-8270-24BEF42BB4EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4489C289-9F4E-4269-AFCF-518B7900C39F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>658D6A36-8EB6-4CB5-A10D-F272A6338694</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5F0ECC2-F26B-4E23-A869-6A3698B12C78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69095CB1-522B-4A19-9D53-C0EBE2823F93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A3300D1-436F-435D-840B-463DED85330C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70767839-9C97-429F-A4F2-8CB251E86A9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0130DAE8-1FFC-48B4-895E-A04250EE5616</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98C0CBFF-D8B4-4FDE-BD26-67446963F693</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCFA3610-957A-4E43-91AC-0237D77F4530</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99291BDC-3382-4FFC-89C6-E99145693819</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E7F6602-A769-47AF-AEDC-4E993F71D3BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E8849E5-AB03-4BB7-A28B-9C6CD45807E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28738246-FBA3-40FC-A87B-A76A3548964C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F4F2034-1D91-4992-ADBD-F538B8CCA3B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A068767-6AD3-47DE-8A5C-0045229ABBA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A66609B3-48E7-4F0F-9DE0-8A6763E6309D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>720A5A99-99D2-4667-9139-1ACBFD3C75E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5C247CD-2B8B-4EE0-A7C6-C12E41D96FA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63533E07-14C9-457C-9901-6F62FFA505E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0432BEB-C919-42E9-AA9A-49DEADC37790</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FF65219-F9D5-4528-BF9E-F0A9F8D452DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED1EBE5C-DF57-4524-B21A-09BF0332086D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB10CD6B-9D05-4867-8AF4-51F33B1F2361</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC9D90AD-EB0E-464B-A80B-364A5AE862EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27EEDE12-AD27-4922-AD16-07A6D4C8CD2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ragna Warps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ra02</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Atroce ra_fild02</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>34F1C706-8281-4143-B767-DEAE2209833D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ml</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Moonlight Flower</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ED1EBE5C-DF57-4524-B21A-09BF0332086D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp pay_dun04 130 105" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB10CD6B-9D05-4867-8AF4-51F33B1F2361</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp ra_fild02" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D2DEC1B7-4496-4CB1-9788-3C1632156225</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp prt_maze03" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3A3300D1-436F-435D-840B-463DED85330C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bapho</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Bapho</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>69095CB1-522B-4A19-9D53-C0EBE2823F93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>osi</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Osiris</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4A398A4D-2FF3-4937-AEAA-8AD4EDDF2A60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp moc_pryd04" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>63AB2DC3-D931-47B4-BB8E-0C2C682B5E1F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp ra_fild03" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>63533E07-14C9-457C-9901-6F62FFA505E0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ra03</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Atroce ra_fild03</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C5C247CD-2B8B-4EE0-A7C6-C12E41D96FA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bacso</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Bacsojin</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>70767839-9C97-429F-A4F2-8CB251E86A9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp lou_dun03" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0130DAE8-1FFC-48B4-895E-A04250EE5616</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pha</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Pharaoh</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>658D6A36-8EB6-4CB5-A10D-F272A6338694</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp in_sphinx5" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A5F0ECC2-F26B-4E23-A869-6A3698B12C78</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp ra_fild04" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7862D0FD-773E-49C5-ADE2-0C0A959DE031</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ra04</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Atroce ra_fild04</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3548A7EC-C107-43A0-B843-334842F8C999</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp abbey03" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6E7F6602-A769-47AF-AEDC-4E993F71D3BA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>beelze</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Beelze</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>99291BDC-3382-4FFC-89C6-E99145693819</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ve01</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Atroce ve_fild01</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A66609B3-48E7-4F0F-9DE0-8A6763E6309D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp ve_fild01" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>720A5A99-99D2-4667-9139-1ACBFD3C75E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp moc_fild17" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CCFA3610-957A-4E43-91AC-0237D77F4530</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>phree</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Phreeoni</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>98C0CBFF-D8B4-4FDE-BD26-67446963F693</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp gl_chyard" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dl</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Dark Lord</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp ve_fild02 84 24" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28738246-FBA3-40FC-A87B-A76A3548964C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ve02</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Atroce ve_fild02</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9E8849E5-AB03-4BB7-A28B-9C6CD45807E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tg</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Turtle General</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E0432BEB-C919-42E9-AA9A-49DEADC37790</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp tur_dun04 100 70" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9FF65219-F9D5-4528-BF9E-F0A9F8D452DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp gef_dun02" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5D042E7C-2727-41F4-B02C-30B6F5AA0DDF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>doppel</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Doppelganger</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>271F13A6-3A3F-4D4D-B588-34284086F3A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>amon</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Amon Ra</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>31B8078A-76A2-4B20-B0B7-F0D1DB5D6BF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp moc_pryd06 100 95" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EE2F1DF2-B71D-4546-9CD9-95D184D35C84</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>glassbead</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Glass Bead lhz_in02 38 145</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>00C94754-B49B-46F9-BF5A-878005EE8481</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp lhz_in02 38 145" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4CE0630C-BA29-4C21-9980-7E0E20E88016</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>eddga</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Eddga</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FC9D90AD-EB0E-464B-A80B-364A5AE862EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp pay_fild11" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>27EEDE12-AD27-4922-AD16-07A6D4C8CD2E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>lhz_in02 210 270</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4B1EEFAD-0DC8-47E4-B8B1-17C07A679166</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp lhz_in02 210 270" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A2459574-818F-47E7-9803-96E43E5DA0F7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>memento</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Memento nif_in 145 23</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F4F2034-1D91-4992-ADBD-F538B8CCA3B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp nif_in 145 23" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A068767-6AD3-47DE-8A5C-0045229ABBA0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "@warp anthell02" | tr -d '\n' | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4489C289-9F4E-4269-AFCF-518B7900C39F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>maya</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Maya</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>605CE10D-F7F4-4E3D-8270-24BEF42BB4EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00C94754-B49B-46F9-BF5A-878005EE8481</key>
		<dict>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>0130DAE8-1FFC-48B4-895E-A04250EE5616</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>271F13A6-3A3F-4D4D-B588-34284086F3A0</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>27EEDE12-AD27-4922-AD16-07A6D4C8CD2E</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>28738246-FBA3-40FC-A87B-A76A3548964C</key>
		<dict>
			<key>xpos</key>
			<integer>1290</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>31B8078A-76A2-4B20-B0B7-F0D1DB5D6BF8</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>34F1C706-8281-4143-B767-DEAE2209833D</key>
		<dict>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>3548A7EC-C107-43A0-B843-334842F8C999</key>
		<dict>
			<key>xpos</key>
			<integer>1065</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>3A3300D1-436F-435D-840B-463DED85330C</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>4489C289-9F4E-4269-AFCF-518B7900C39F</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>4A398A4D-2FF3-4937-AEAA-8AD4EDDF2A60</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>4B1EEFAD-0DC8-47E4-B8B1-17C07A679166</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>735</integer>
		</dict>
		<key>4CE0630C-BA29-4C21-9980-7E0E20E88016</key>
		<dict>
			<key>xpos</key>
			<integer>1265</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>5A068767-6AD3-47DE-8A5C-0045229ABBA0</key>
		<dict>
			<key>xpos</key>
			<integer>1260</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>5D042E7C-2727-41F4-B02C-30B6F5AA0DDF</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>605CE10D-F7F4-4E3D-8270-24BEF42BB4EC</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>63533E07-14C9-457C-9901-6F62FFA505E0</key>
		<dict>
			<key>xpos</key>
			<integer>1285</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>63AB2DC3-D931-47B4-BB8E-0C2C682B5E1F</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>658D6A36-8EB6-4CB5-A10D-F272A6338694</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>69095CB1-522B-4A19-9D53-C0EBE2823F93</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>6E7F6602-A769-47AF-AEDC-4E993F71D3BA</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>70767839-9C97-429F-A4F2-8CB251E86A9C</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>720A5A99-99D2-4667-9139-1ACBFD3C75E4</key>
		<dict>
			<key>xpos</key>
			<integer>1290</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>7862D0FD-773E-49C5-ADE2-0C0A959DE031</key>
		<dict>
			<key>xpos</key>
			<integer>1285</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>98C0CBFF-D8B4-4FDE-BD26-67446963F693</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>99291BDC-3382-4FFC-89C6-E99145693819</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>9E8849E5-AB03-4BB7-A28B-9C6CD45807E3</key>
		<dict>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>9F4F2034-1D91-4992-ADBD-F538B8CCA3B0</key>
		<dict>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>9FF65219-F9D5-4528-BF9E-F0A9F8D452DB</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>A2459574-818F-47E7-9803-96E43E5DA0F7</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>735</integer>
		</dict>
		<key>A5F0ECC2-F26B-4E23-A869-6A3698B12C78</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>A66609B3-48E7-4F0F-9DE0-8A6763E6309D</key>
		<dict>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>C5C247CD-2B8B-4EE0-A7C6-C12E41D96FA5</key>
		<dict>
			<key>xpos</key>
			<integer>1065</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>CB10CD6B-9D05-4867-8AF4-51F33B1F2361</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>CCFA3610-957A-4E43-91AC-0237D77F4530</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>D2DEC1B7-4496-4CB1-9788-3C1632156225</key>
		<dict>
			<key>xpos</key>
			<integer>1280</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>E0432BEB-C919-42E9-AA9A-49DEADC37790</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>ED1EBE5C-DF57-4524-B21A-09BF0332086D</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>EE2F1DF2-B71D-4546-9CD9-95D184D35C84</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>FC9D90AD-EB0E-464B-A80B-364A5AE862EE</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
