# Restart zshrc config
alias src-zsh='source ~/.zshrc'

# Tmuxinator
alias mux='tmuxinator'

# Dev Project Directories
alias unity-dir='cd ~/Documents/Dev/Unity'
alias work-dir='cd ~/Documents/Work'
alias jekyll-dir='cd ~/Documents/Dev/Jekyll'
alias flx-dir='cd ~/Documents/Dev/HaxeFlixel'
alias love-dir='cd ~/Documents/Dev/Love'

alias dev-dir="cd ~/Documents/Dev"
alias htdocs-dir="cd /Applications/MAMP/htdocs"

# Open current directory in Finder
alias f='open -a Finder ./'

# Git
alias gitlog="git log --oneline -n 10"

# Diskspace report
alias diskspace_report="df -P -kHl"

# Run mongod
alias startmongo="sudo mongod --fork --logpath /var/log/mongod.log"

# Shutdown running PORT
# e.g. shutup :9292
function shutup() {
   sudo kill -9 $(lsof -i $1 -t)
}

# Docker compose
alias dc="docker-compose"

# PNG2jpg
alias png2jpg="mogrify -format jpg *.png; mogrify -format jpg *.PNG; trash *.png; trash *.PNG"

# Desktime
alias desktime="node ~/Documents/Dev/Web/appetiser-asst/index.js"
alias dt="desktime"

# NPM shortcuts
alias nrd="npm run dev"
alias nrs="npm run serve"
alias nrw="npm run watch"
alias ni="npm install"

# Vapor
alias vapor="php vendor/bin/vapor"
alias vp="php vendor/bin/vapor"

# Love2D
alias love="/Applications/love.app/Contents/MacOS/love"