# Restart zshrc config
alias src-zsh='source ~/.zshrc'

# Tmuxinator
alias mux='tmuxinator'

# Dev Project Directories
alias unity-dir='cd ~/Documents/Dev/Unity'
alias work-dir='cd ~/Documents/Work'
alias jekyll-dir='cd ~/Documents/Dev/Jekyll'
alias flx-dir='cd ~/Documents/Dev/HaxeFlixel'
alias love-dir='cd ~/Documents/Dev/Love'

alias dev-dir="cd ~/Documents/Dev"
alias htdocs-dir="cd /Applications/MAMP/htdocs"

# Open current directory in Finder
alias f='open -a Finder ./'

# Git
alias gitlog="git log --oneline -n 10"

# Diskspace report
alias diskspace_report="df -P -kHl"

# Run mongod
alias startmongo="sudo mongod --fork --logpath /var/log/mongod.log"