<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>257F33E4-44A5-480D-8216-1BC1E6F0CB1E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tpb</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>The Pirate Bay</string>
			<key>url</key>
			<string>https://thepiratebay.org/search.php?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3063D525-C489-42EC-9AC8-458120E7D7D5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>li</string>
			<key>text</key>
			<string>Linkedin Profile</string>
			<key>url</key>
			<string>https://linkedin.com/in/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>74545B59-BCEF-495C-9B3D-5F036ED7451F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sear</string>
			<key>text</key>
			<string>JIRA SEAR Ticket</string>
			<key>url</key>
			<string>https://contactout.atlassian.net/browse/SEAR-{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>791B3C3F-B8A7-4B91-9C66-E13F18A528E7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>shopee</string>
			<key>text</key>
			<string>Shopee</string>
			<key>url</key>
			<string>https://shopee.ph/search?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7FCF1BF0-6CE3-4498-AE11-0B088092F721</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>so</string>
			<key>text</key>
			<string>Search Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>943B06C0-8604-4F9A-A5D0-E4103FE40450</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cht</string>
			<key>text</key>
			<string>Search Cht.sh</string>
			<key>url</key>
			<string>https://cht.sh/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B6CA9544-201C-491B-99B1-E99D72735717</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>ContactOut JIRA Card</string>
			<key>url</key>
			<string>https://contactout.atlassian.net/browse/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D6B1225C-5EF0-45EE-88A2-BE44F8F10C75</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>com</string>
			<key>text</key>
			<string>JIRA COM Ticket</string>
			<key>url</key>
			<string>https://contactout.atlassian.net/browse/COM-{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E9DDBC94-68EF-44D2-A4EF-2CFE2BB8BFA7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ath</string>
			<key>text</key>
			<string>JIRA ATH Ticket</string>
			<key>url</key>
			<string>https://contactout.atlassian.net/browse/ATH-{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F4507A5E-9B97-493C-A8AB-ED0369FD3058</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>r</string>
			<key>text</key>
			<string>Subreddit</string>
			<key>url</key>
			<string>https://reddit.com/r/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
