# Common aliases
# https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/common-aliases/common-aliases.plugin.zsh

# General
alias c='clear'

# ls, the common ones I use a lot shortened for rapid fire usage
alias l='ls -lFh'     #size,show type,human readable
alias la='ls -lAFh'   #long list,show almost all,show type,human readable
alias ll='ls -l'      #long list
alias ldot='ls -ld .*'
alias grep='grep --color'
alias t='tail -f'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Restart zshrc config
alias src-zsh='source ~/.zshrc'
alias sz='source ~/.zshrc'

# Tmux
alias ta='tmux attach -t'
alias tad='tmux attach -d -t'
alias ts='tmux new-session -s'
alias tl='tmux list-sessions'
alias tksv='tmux kill-server'
alias tkss='tmux kill-session -t'
alias mux='tmuxinator'

# Vim
alias v='nvim'
alias vim='nvim'
alias vimorig='/usr/bin/vim'

# Vim dotfiles
alias dot="nvim ~/.dotfiles"

# Nota
alias notes="nvim ~/Documents/Notes/Nota"
alias nota="nvim ~/Documents/Notes/Nota"

# Subl
alias s='subl'

# Open current directory in Finder
alias f='open -a Finder ./'

# Important Directories
alias dev="cd ~/Documents/Dev"

# GH CLI
alias ghprc="gh pr create --web"
alias ghprv="gh pr view --web"
alias ghb="gh browse"
alias prc="gh pr create --web"
alias prv="gh pr view --web"

# Git
# https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/git/git.plugin.zsh
alias g='git'
alias lg='lazygit'

alias ga='git add'
alias gaa='git add --all'
alias grm='git rm'
alias grmc='git rm --cached'

alias gb='git branch'
alias gba='git branch -a'
alias gbd='git branch -d'
alias gbD='git branch -D'
alias gcb='git checkout -b'
alias gcm='git checkout $(git_main_branch)'
alias gco='git checkout'
alias gcl='git clone --recurse-submodules'

alias gc='git commit -v'
alias gc!='git commit -v --amend'
alias gcam='git commit -a -m'
alias gcmsg='git commit -m'

alias gd='git diff'
alias gdca='git diff --cached'
alias gds='git diff --staged'
alias gst='git status'

alias grsh='git reset --soft HEAD~1'
alias grhh='git reset --hard'
alias glo='git log --oneline --decorate'

alias gm='git merge'
alias gmm='git merge master'
alias gma='git merge --abort'
alias grb='git rebase'
alias grba='git rebase --abort'
alias grbc='git rebase --continue'
alias grbm='git rebase master'

alias gp='git push'
alias gpu='git push upstream'
alias gl='git pull'
alias grv='git remote -v'

alias gsta='git stash push'
alias gstaa='git stash apply'
alias gstc='git stash clear'
alias gstd='git stash drop'
alias gstl='git stash list'
alias gstp='git stash pop'

function ggl() {
  if [[ "$#" != 0 ]] && [[ "$#" != 1 ]]; then
    git pull origin "${*}"
  else
    [[ "$#" == 0 ]] && local b="$(git_current_branch)"
    git pull origin "${b:=$1}"
  fi
}

compdef _git ggl=git-checkout

function ggp() {
  if [[ "$#" != 0 ]] && [[ "$#" != 1 ]]; then
    git push origin "${*}"
  else
    [[ "$#" == 0 ]] && local b="$(git_current_branch)"
    git push origin "${b:=$1}"
  fi
}
compdef _git ggp=git-checkout

# Diskspace report
alias diskspace_report="df -P -kHl"

# Run mongod
alias startmongo="sudo mongod --fork --logpath /var/log/mongod.log"

# Shutdown running PORT
# e.g. shutup :9292
function shutup() {
   sudo kill -9 $(lsof -i $1 -t)
}

# Docker
alias dc="docker-compose"
alias ld="docker-compose"

# Laravel sail
alias sail='[ -f sail ] && bash sail || bash vendor/bin/sail'

# Laravel
# alias la="php artisan"
# alias pa="php artisan"
alias a="php artisan"

# PNG2jpg
alias png2jpg="mogrify -format jpg *.png; mogrify -format jpg *.PNG; trash *.png; trash *.PNG"

# Work
alias desktime="node ~/Documents/Dev/Web/appetiser-asst/index.js"
alias dt="desktime"
alias active="sh ~/Work/active.sh"

# NPM shortcuts
alias ns="npm start"
alias ni="npm install"
alias nrd="npm run dev"
alias nrw="npm run watch"
alias nrb="npm run build"
alias nrs="npm run serve"
alias nrt="npm run test"

# NVM shortcuts
alias nu="nvm use"

# Yarn shortcuts
alias y="yarn"
alias yi="yarn install"
alias yd="yarn dev"
alias yw="yarn watch"
alias yb="yarn build"
alias ys="yarn start"
alias yt="yarn test"

# Composer shortcuts
alias ci="composer install"
alias clf="composer lint-fix"

# Vapor
alias vapor="php vendor/bin/vapor"
alias vp="php vendor/bin/vapor"

# Love2D
alias love="/Applications/love.app/Contents/MacOS/love"

mkcd ()
{
  mkdir -p -- "$1" &&
    cd -P -- "$1"
}
