# Restart zshrc config
alias src-zsh='source ~/.zshrc'
alias sz='source ~/.zshrc'

# Tmux
alias mux='tmuxinator'

# Vim
alias v='nvim'
alias vim='nvim'
alias vimorig='/usr/bin/vim'

# Vim dotfiles
alias dot="cd ~/.dotfiles && nvim ."

# Subl
alias s='subl'

# Open current directory in Finder
alias f='open -a Finder ./'

# Important Directories
alias dev="cd ~/Documents/Dev"

# GH CLI
alias ghprc="gh pr create --web"
alias ghprv="gh pr view --web"
alias ghb="gh browse"
alias prc="gh pr create --web"
alias prv="gh pr view --web"

# Git
alias lg="lazygit"
alias grsh="git reset --soft HEAD~1"

# Diskspace report
alias diskspace_report="df -P -kHl"

# Run mongod
alias startmongo="sudo mongod --fork --logpath /var/log/mongod.log"

# Shutdown running PORT
# e.g. shutup :9292
function shutup() {
   sudo kill -9 $(lsof -i $1 -t)
}

# Docker
alias dc="docker-compose"
alias ld="docker-compose"

# Laravel sail
alias sail='[ -f sail ] && bash sail || bash vendor/bin/sail'

# Laravel
# alias la="php artisan"
# alias pa="php artisan"
alias a="php artisan"

# PNG2jpg
alias png2jpg="mogrify -format jpg *.png; mogrify -format jpg *.PNG; trash *.png; trash *.PNG"

# Work
alias desktime="node ~/Documents/Dev/Web/appetiser-asst/index.js"
alias dt="desktime"
alias active="sh ~/Work/active.sh"

# NPM shortcuts
alias ns="npm start"
alias ni="npm install"
alias nrd="npm run dev"
alias nrw="npm run watch"
alias nrb="npm run build"
alias nrs="npm run serve"
alias nrt="npm run test"

# NVM shortcuts
alias nu="nvm use"

# Yarn shortcuts
alias y="yarn"
alias yi="yarn install"
alias yd="yarn dev"
alias yw="yarn watch"
alias yb="yarn build"
alias ys="yarn start"
alias yt="yarn test"

# Vapor
alias vapor="php vendor/bin/vapor"
alias vp="php vendor/bin/vapor"

# Love2D
alias love="/Applications/love.app/Contents/MacOS/love"

mkcd ()
{
  mkdir -p -- "$1" &&
    cd -P -- "$1"
}
